.mainContainer {
  display: block;
  height: 72px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.Container {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  max-width: 1280px;
  margin: auto;
  padding: 2px 32px;
}

.headerLogo a {
  display: block;
  width: 156px;
  height: 50px;
  background: url(../../components/photoes/headerLogo.png) center / contain
    no-repeat;
}

.navContent {
  display: flex;
  align-items: center;
}

.nav_wrapper {
  display: flex;
}

.items {
  position: relative;
  margin-right: 14px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.items a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding: 10px;
}
.navOption:hover {
  color: #2f9e4c;
}
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* right: 80px; */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-shadow: 0 0 2px #757c7e1a, 0 2px 3px #757c7e26, 0 1px 3px #757c7e40;
  border-radius: 4px;
  transition: visibility 0ms, opacity 0.22s linear;
}

.items:hover .dropdown {
  display: block;
  color: #2f9e4c;
}

.dropdown li {
  display: block;
  width: 100%;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li a {
  display: block;
  width: 100%;
  margin-right: 40px;
  text-align: left;
  padding: 10px 15px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.headerLink {
  display: flex;
  align-items: center;
}

.loginBtn {
  color: #353a47;
  border: 1px solid #c2c2c2;
  background-color: #fff;
  box-shadow: 0 0 #00c3603d;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.1s;
  min-width: 100px;
  padding: 0 16px;
  vertical-align: top;
  line-height: 24px;
  font-family: inherit;
  white-space: nowrap;
}

.signUpBtn {
  background-color: #39b75d;
  color: white;
  margin-left: 8px;
  border: none;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  min-width: 100px;
  padding: 0 16px;
  font-family: inherit;
}
.loginBtn:hover {
  color: #2f9e4c;
}
.signUpBtn:hover {
  background-color: #2f9e4c;
  color: white;
}
