.main_features{
    position: relative;
}
.feature_wrapper{
    display: flex;
    width: 50vw;
    align-items: center;
    margin-left: 32rem;
    margin-top: 8rem;
    margin-bottom: 8rem
}
.feature_item{
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 38px;
    text-align: left;
}
.feature_icon{
    width: 125px;
    height: 125px;
}
h4 {
    font-family: CerebriSans, sans-serif;
    font-weight: 700;
}
.feature_name {
    font-size: 20px;
    color: #17262b;
    padding-top: 18px;
}
.feature_description{
    color: #485256;
    padding-top: 2px;
}
p{
    line-height: 22px;
    font-size: 14px;
}